@import 'react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.year-picker .react-datepicker__year {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.react-datepicker__year-wrapper {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}
